/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Basic styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a, button {
    cursor: pointer;
}

/* Styles for hero block */
.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero .text {
    margin-top: 250px;
    margin-left: 58px;
}

.hero .text h2, 
.hero .text h3 {
    color: white;
    font-size: 43px;
    font-weight: 600;
    text-transform: uppercase;
}

.hero .text h3 {
    font-size: 74px;
}

.hero .shops {
    margin-top: 600px;
    margin-right: 100px;
}

/* Styles for menu */
.menu {
    background-color: rgba(12, 39, 62, 1);
    width: 100%;
    padding: 150px 0;
}

.menu .container {
    clip-path: polygon(
      10% 0, 90% 0, 100% 10%, 
      100% 90%, 90% 100%, 
      10% 100%, 0 90%, 
      0 10%
    );
    background-color: rgba(107, 185, 195, 0.2);
    height: 644px;
}

.menu .container .nav {
    float: right;
    margin-top: 170px;
    padding-right: 70px;
}

.menu .container .nav ul {
    list-style: none;
    text-align: right;
}

.menu .container .nav ul li {
    font-size: 29px;
    font-weight: 400;
    font-family: "Orbitron", serif;
    margin-bottom: 25px;
    /* border-bottom: 2px solid rgba(107, 185, 195, 1); */
}

.menu .container .nav ul li a {
    color: white;
    text-decoration: none;  
    text-align: right;
}

.menu .container .nav ul img {
    position: relative;
    top: -50px;
    left: 70px;
    width: 228px;
    height: 30px;
}

.menu .top-block,
.menu .bottom-block {
    width: 500px;
    height: 35px;
    background-color: rgba(12, 39, 62, 1);
    position: absolute;
    z-index: 2;
    left: 31%;
}

.menu .bottom-block {
    top: 1645px;
    clip-path: polygon(0 100%, 5% 0%, 95% -50%, 100% 100%, 150% 100%, 0 100%);
}

.menu .top-block {
    clip-path: polygon(0 0, 150% 0, 100% 0%, 95% 100%, 10% 150%, 0 0%);
}  

/* Styles for news block */
.news {
    background-color: rgba(12, 39, 62, 1);
    width: 100%;
    position: absolute;
    z-index: 1;
}

.news .deco {
    position: absolute;
    z-index: -999;
    right: 0;
    top: 100px;
}

.news .deco-bottom {
    float: left;
    left: 0;
    top: 800px;
}

.news .block-name {
    display: flex;
    justify-content: space-between;
}

.news .block-name h2 {
    font-size: 80px;
    font-weight: 400;
    color: white;
    font-family: "Orbitron", serif;
}

.news .container {
    display: flex;
    justify-content: space-between;
    padding: 100px;

}

.news .container .block {
    display: flex;
    flex-direction: column;
}

.news .container .block img {
    width: 119px;
    height: 136px;
    margin-bottom: 50px;
}

.news .container .block-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -25px;
}

.news .container .block-center img:first-child {
    position: relative;
}

.news .container .block-center .img {
    margin-top: -45px;
}

.news .container .block-center img:last-child {
    margin-top: -10px;
}