/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Basic styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a, button {
    cursor: pointer;
}

/* Styles for hero block */
.hero {
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero .text {
    margin-top: 250px;
    margin-left: 58px;
}

.hero .text h2, 
.hero .text h3 {
    color: white;
    font-size: 43px;
    font-weight: 600;
    text-transform: uppercase;
}

.hero .text h3 {
    font-size: 74px;
}

.hero .shops {
    margin-top: 600px;
    margin-right: 100px;
}